<div class="all">
<div class="container-fluid bg-light py-5">
    <h1 class="display-7 fw-bold">Online Assignment</h1>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 fs-5 "> 
        <h4>Rules to follow</h4>
        <ol>
        <li>This is a Mcq test </li>  
        <li> You must use a functioning webcam and microphone </li> 
        <li>No cell phones or other secondary devices in the room or test area</li> 
        <li>Your desk/table must be clear or any materials except your test-taking device</li>
        <li>No one else can be in the room with you</li>
        <li>Do not leave the camera </li>
    </ol>
    <ol> 
        <h2>Instructions</h2>
         <li>The time duration of the exam is 20 minutes</li>
         <li>This contains a total of 10 questions.</li>
         <li>correct answer gets 10M </li>
         <li>Negitives are there of 1/2th of each question</li> 
        </ol>
    </div>
</div>
 <br><br>
    <div class="name col-md-4 my-3 ms-5">
        <input #name type="text" class="form-control" placeholder="Enter your name"><br>
    </div>
    <button class="btn btn-primary btn-sm ms-5 mt-2" routerLink="/question" (click)="startQuiz()">Start</button>
</div>
</div>